/*h2 {
   padding-bottom: 1000px;
}*/

b {
    font-weight: normal;
}

em {
    color: brown;
}

#lyrics {
    line-height: 50px;
}

code {
    color: orange;
    background: lightgray;
    padding: 3px;
    border: 1px solid orange;
}

kbd {
    padding: 0 3px; 
    border-radius: 1px;
    border-top: 2px solid rgb(240, 240, 240);
    border-bottom: 2px solid rgb(205, 205, 205);
    border-left: 2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(225, 240, 240);
}

.bold {
    font-weight: bold;
    color: red;
    font-size: 20px;
}
